*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class] {
  list-style: none;
}

img {
  width: 100%;
}

/*************************
Untilites
**************************/

.clear {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.fc-light {
  color: white;
}

.fc-dark {
  color: #222;
}

.sans-serif-font {
  font-family: Arial, Helvetica, sans-serif;
}

.screen-reader-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
}

/*************************
Header
**************************/
  
.header * {
  padding-left: 1rem;
  float: left;
}

.header__nav {
  display: inline;
}

.header__nav-list {
}

.header__nav-list li {
}

.welcome-banner h1 {
  float: left;
}

.welcome-banner span{
  float: right;
}

/*************************
Headline News
**************************/

.headline-news * {
  float: left;
}

.headline-news__list {
  width: 100%;
}

.headline-news__list-item{
  position: relative;
  width: 25%;
}

.headline-news__hero {
  max-width: 50%;
  position: relative;
}

.bg-gradient {
  position: relative;
}

.bg-gradient::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(transparent, #222); 
}

.headline-news__secondary-headline {
  --padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
}

.headline-news__story-image {
  object-fit: cover;
}

.headline-news__hero-headline {
  --padding: 0.75rem;
  position: absolute;
  bottom: 0;
  left: 0; 
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
}

.news__story {
  float: left;
  width: 33.33%;
}
